.ad-detail {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 90px;
  margin-bottom: 10px;
}

.ad-detail .ad {
  padding: 20px 0px 20px 0px;
  border: 2px solid #13c1ac;
  background-color: white;
}

.ad-detail .ad .img {
  display: flex;
  justify-items: center;
  height: 350px;
  width: 500px;
  margin-bottom: 10px;
}

.ad-detail .ad .span {
  position: relative;
  top: 8px;
  font-size: 25px;
  background-color: #74e17fac;
  border-radius: 6px;
  padding: 1px 10px 1px 10px;

  margin-bottom: 10px;
}

.text {
  display: block;
  font-size: 25px;
  padding: 10px 0px 20px 0px;
  margin-bottom: 10px;
}

.delete-button {
  background-color: #933d3d;
  border-radius: 5px;
  font-size: 23px;
  color: white;
  border: 0;
  padding: 8px 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modifyAd-button {
  text-decoration: none;
  background-color: #13c1ac;
  border-radius: 5px;
  font-size: 23px;
  color: white;
  border: 0;
  padding: 8px 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#updateAd {
  background-color: #13c1ac;
  color: white;
}
