.ad-container {
  width: 100%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px 20px 10px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #13c1ac;
  background-color: whitesmoke;
}

.ad-container .ad-list {
  width: 100%;
  display: flex;
  justify-content: center;

  border-radius: 5px;
  font-size: 21px;
}

.ad-name {
  padding: 0 10px;
}

.ad-state {
  padding: 0 10px;
}

.ad-price {
  padding: 0 10px;
}
.ad-tags {
  padding: 0 10px;
}
