.layout-header {
  border-bottom-width: 1px;
  height: 64px;
}

.layout-main {
  border-left-width: 1px;
  border-right-width: 1px;
  margin: 0 auto;
  max-width: 660px;
  min-height: calc(100vh - 128px);
}

.layout-title {
  border-bottom-width: 1px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 85px;
  padding: 10px 15px;
  font-size: 25px;
}

.layout-footer {
  width: 100%;
  display: flex;
  border-top-width: 1px;
}

.layout-header,
.layout-footer {
  padding: 0 15px;
}
